*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background: linear-gradient(rgba(227, 231, 241, 1), rgba(198, 203, 239, 1));

	font-family: 'Montserrat', sans-serif;
}
